@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215 20% 65%;

    --popover: 223 47% 11%;
    --popover-foreground: 215 20% 65%;

    --card: 223 47% 11%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 100% 66%;
    --primary-foreground: 222 47% 11%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 220 14% 96%;

    --accent: 215 30% 23%;
    --accent-foreground: 213 31% 91%;

    --destructive: 0 62% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212 100% 69%;

    --radius: 0.75rem;
  }

  .light {
    --background: 210 24% 98%;
    --foreground: 222 47% 11%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 46%;

    --popover: 0 0% 100%;
    --popover-foreground: 215 25% 27%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;

    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;

    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20% 65%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
